@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
</div>
<!DOCTYPE html>
<html>

<body>
    <img src="pexels-ivo-rainha-1290141.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
</body>
</html>